body {
  color: white;
  background-image: url(./assets/CM\ BG@2x.png);
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
p {
  color: white;
  text-align: left;
}
div {
  color: white;
}
a {
  color: white;
}
#imgone {
  width: 100%;
  display: block;
  height: 600px;
  padding-bottom: 2rem;
}
#imgtwo {
  width: 100%;
  display: block;
  height: 600px;
  padding-bottom: 2rem;
}
.card-body {
  text-align: justify;
}
